.hero {
  // background-color: $color3;

  .container{
    @include breakpoint-up(large){ //desktop activate flexbox 
      display: flex;
      align-items: center;
    }
  }

  &__image {
    // border: 1px solid magenta; //debug
    position: relative;
    background-image: url('/images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
   
    // @include breakpoint-up(medium){ //img kleiner bij tablet
    //   background-size: 89%;
    // }

    @include breakpoint-up(large){ //img rechts bij desktop
      background-size: cover;
      flex: 3; // img is wider
      order: 2;
      height: 41rem;
      background-image: url('/images/hero-desktop.png');
      background-position: left center;
} 

    &::before{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url('/images/logo.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;

      // @include breakpoint-up(medium){ //img kleiner bij tablet
      //   background-size: 89%;
      // }
      // @include breakpoint-up(large){ //img rechts bij desktop 
      //   background-size: cover;
      // }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large){ //text rechts bij desktop
      flex: 2;
      order: 1;
      // text-align: left;
    } 
  }
}