// color
$color1: hsl(0, 63%, 61%);
$color2: hsl(7, 45%, 47%);
$color3: hsl(0, 26%, 24%);
$color3: hsla(0, 14%, 55%, 0.562);
$color4: hsl(0, 0%, 52%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// font size
$font-sm: 0.875rem; //14 px (14/16)
$font-med: 1.125rem; //18 px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;