// color
$color1: hsl(0, 69%, 5%);
$color2: hsl(6, 66%, 6%);
$color3: hsl(0, 0%, 0%);
$color3: hsla(0, 11%, 2%, 0.562);
$color4: hsl(0, 0%, 52%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// font size
$font-sm: 0.875rem; //14 px (14/16)
$font-med: 1.125rem; //18 px
$font-lg: 1.25rem;
$font-xlg: 2.25rem;